<%- include('../layouts/admin_header.ejs') %>

<h2 class="page-title">Edit a Category</h2>
<a href="/admin/categories" class="btn btn-primary">Back to all categories</a>
<br><br>

<form method="Post" action="/admin/categories/edit-category/<%= id %>">

    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" required minlength="3" value="<%= title %>" placeholder="title">
    </div>
    <button class="btn btn-default">Submit</button>
</form>

<%- include('../layouts/admin_footer.ejs') %>