.sorting tr:not(.home){
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px solid rgb(150, 52, 52);
}

#imgPreview { 
    margin: 20px;
}

#noimage {
    width: auto;
    height: 200px;
}

ul.gallery li:firts-child {
    margin-left: 0;
}
ul.gallery li{
    margin: 20px;
    display: inline-block;
    list-style: none;
}
table.alignmiddle td {
    vertical-align: middle !important;
}